body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.headerv {
  background-image: url(".png/geometry_1.png");
  background-color: white;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: inherit;
  width: 111px;
}

#hamUl {
  list-style: none;
}

.strip {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 6px;
}

.menu {
  height: 100%;
  padding: 0;
  margin-top: 19px;
  margin-right: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

.midSection {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 30px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
}

.midHeader {
  margin-top: 0;
  margin-right: 68px;
  margin-bottom: 0;
}

.worksHeader {
  margin-top: 39.9px;
  margin-left: 16px;
  margin-right: 123px;
  margin-bottom: 32px;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.pMidSection {
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn {
  background-color: #1a2236;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn:hover {
  background-color: black;
  color: white;
  filter: invert(100%);
  border: 1px solid white;
}

.btn:active {
  background-color: black;
  color: white;
  filter: invert(100%);
  border: 2px solid white;
}

.foterv {
  display: flex;
  background-image: url(".png/image_geometry_2.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  margin-top: 32px;
  height: 160px;
  width: 100%;
}

.works {
  display: grid;
  grid-template-columns: auto;
  width: inherit;
}

.projectsContainer {
  display: grid;
  grid-template-columns: auto;
  width: inherit;
}

.firstProj {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: inherit;
  border: none;
}

.imgContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: inherit;
  margin: 0;
  border: none;
}

.img {
  width: 100%;
  display: flex;
  justify-self: flex-start;
  align-self: stretch;
  margin: 0;
  object-fit: cover;
  border: none;
}

.infoBox {
  background-color: #1a2236;
  margin: 0;
  border: 0;
  border: none;
}

h3 {
  border: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 36px;
  margin-bottom: 16px;
}

.projectInfo {
  border: none;
}

.langList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #1a2236;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 80%;
  font-size: 10.3334px;
}

.lang1 {
  flex-direction: column;
  text-align: center;
  display: flex;
  flex-grow: 1;
  background-color: #98dede;
  color: #1a2236;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 20px;
  margin-right: 10px;
}

.lang2 {
  flex-direction: column;
  text-align: center;
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
  background-color: #98dede;
  color: #1a2236;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.lang3 {
  flex-direction: column;
  text-align: center;
  display: flex;
  flex-grow: 1;
  background-color: #98dede;
  color: #1a2236;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 50px;
}

.btnProj {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  background-color: #1a2236;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btnText {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.btnIcon {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 13.95px;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 56px;
  margin-bottom: 20px;
  margin-right: 16px;
}

.aboutHeader {
  margin-right: 155px;
  margin-bottom: 20px;
  margin-top: 0;
}

.pabout {
  margin-top: 0;
  margin-bottom: 32px;
}

.myCv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  background-color: #1a2236;
  margin-bottom: 40px;
  padding: 0;
}

.btnTextGet {
  margin-left: 79px;
  margin-bottom: 13px;
  margin-top: 13px;
}

.btnIconDownload {
  display: flex;
  margin-left: 20px;
  margin-bottom: 13px;
  margin-top: 13px;
  margin-right: 79px;
}

.aboutCards {
  margin-bottom: 16px;
  background-color: #1c528a;
  background-image: url(.png/ic_HT.png);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 289px;
  width: inherit;
}

.framworksCard {
  margin-bottom: 16px;
  background-color: #e2505c;
  background-image: url(.png/ic_rectangle.png);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 289px;
  width: inherit;
}

.skillsCard {
  margin-bottom: 16px;
  background-color: #febf52;
  background-image: url(.png/ic_skills.png);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 289px;
  width: inherit;
}

.langCardHeader,
.skillCardHeader,
.framworksCardHeader {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.langCardHeader {
  margin-top: 50px;
  margin-bottom: 21px;
  margin-left: 50px;
  margin-right: 123px;
}

.framworksCardHeader {
  margin-top: 50px;
  margin-bottom: 21px;
  margin-left: 50px;
  margin-right: 107px;
}

.skillCardHeader {
  margin-top: 50px;
  margin-bottom: 21px;
  margin-left: 50px;
  margin-right: 184px;
}

.langCardList,
.framworksCardList,
.skillCardList {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: white;
  padding: 0;
  list-style: none;
}

.langCardList {
  margin-left: 50px;
  margin-bottom: 53px;
  margin-right: 61px;
}

.laCardListItem::before {
  content: "•";
  padding-right: 5px;
  color: white;
}

.framworksCardList {
  margin-left: 50px;
  margin-bottom: 53px;
  margin-right: 121px;
}

.skillCardList {
  margin-left: 50px;
  margin-bottom: 53px;
  margin-right: 151px;
}


#formSection {
  margin: 32px 14px 64px 18px;
}

#formSection form {
  margin-bottom: 0;
}

#formSection h2 {
  margin: 0 39px 32px 0;
}

#formSection p {
  margin: 0 0 32px 0;
}

#formSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inputDiv {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid #dfdfe0;
  font-size: 16px;
  position: relative;
  margin-bottom: 8px;
}

.inputDiv:hover {
  border: 1px solid #1a2236;
}

input {
  border-style: none;
  border: none;
  text-indent: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 23px 0 8px 0;
  width: 100%;
}

input:focus {
  outline: 0;
}

label {
  text-align: start;
  position: absolute;
  text-indent: 16px;
  margin: 4px 217px 0 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
}

#message {
  border-radius: 4px;
  border: 1px solid #dfdfe0;
  position: relative;
  width: -webkit-fill-available;
  margin-bottom: 20px;
  text-indent: 16px;
  padding-top: 15px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

#message:focus {
  outline: 0;
}

#message:hover {
  border: 1px solid #1a2236;
}

#formSection .btn {
  width: 100%;
}

#contactFooter {
  padding-top: 32px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #1a2236;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.myResume {
  background-color: #1a2236;
  color: #98dede;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  margin-bottom: 32px;
  margin-right: 124px;
  padding: 0;
}

.btnTextResume {
  margin: 0;
}

.btnDownload {
  display: flex;
  margin-left: 17px;
}
