body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  height: 74px;
}

.headerv {
  background-image: url(".png/geometry_1.png");
  background-color: white;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: inherit;
  width: 111px;
}

.strip {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 6px 0;
}

.menu {
  height: fit-content;
  padding: 0;
  margin-top: 19px;
  margin-right: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

.midSection {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 30px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  margin-top: 0;
  margin-right: 68px;
  margin-bottom: 0;
}

p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: #1a2236;
  color: white;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
}

.btn:hover {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border: 1px solid #1a2236;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn:active {
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  border: 2px solid #1a2236;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.foterv {
  display: flex;
  background-image: url(".png/image_geometry_2.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  margin-top: 32px;
}
